.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    
 
    
  }

 
.first-div{
    /* background-color: red; */

}

.second-div{
    /* background-color: blue; */
}


.first-div img{
    border-radius: 10px;
    

}
.second-div img{
    border-radius: 10px;
    
}
