.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: white;
  width :100%;
  top:0;
  
  
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-right: 10px;
}

.pinterest-logo-div {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.pinterest-logo {
  width: 30px;
  margin: 8px;
}
.pinterest-logo-div:hover {
  background-color: rgba(186, 186, 186, 0.918);
}

.home-button {
  height: 45px;
  width: 70px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;

  display: flex;
  padding-left: 15px;
}

.home-button:hover {
  background-color: rgba(186, 186, 186, 0.918);
  border-style: solid;
  border-width: 1px;
  border: none;
  border-radius: 35px;
}
.home-p {
  margin-right: 3px;
  padding-left: 3px;
}

.home-minimize {
  position: absolute;
  top: 14px;
  right: 0px;
  height: 8px;
  margin-right: 10px;
}

.middle-section {

  max-width: 1500px;
  flex:1;
  margin-left: 3px;
    

}
.search-div{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%

    
}
.search-input{
    flex:1;
    height: 45px;
    border: none;
    border-width: 2px;
    background-color: rgb(232, 232, 232);
    border-radius: 25px;
    width:0;
    
}

.search-input::placeholder{
    padding-left: 30px;
    font-size: 15px;
}
.search-icon{
    width:18px;
    position: absolute;
    top:15px;
    left: 8px;
    
}
.search-input:hover{
    background-color:  rgb(227, 223, 223);
}

.right-section {
    margin-right: 20px;
    width: 180px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;

    align-items: center;
    padding: 10px;
  }



.notification-icon{
   width: 20px;
   

}

.comment-icon{
    width: 20px;
  
}
.user-icon{
    width: 20px;
    
}
.angle-down{
    width: 20px;
}

/* Base styles for the elements */
.notification-hover,
.comment-hover,
.user-hover,
.angledown-hover {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Background color on hover */
.notification-hover:hover,
.comment-hover:hover,
.user-hover:hover,
.angledown-hover:hover {
    background-color: rgba(186, 186, 186, 0.918);
}






